/* The Fonts Used */
@font-face {
  font-family: Lemonada;
  src: url(Fonts/Lemonada.ttf);
}

/* The Body */
#The-Main-Body{

	padding: 20vh;
	
	/* The Background Color For Night Sky*/
	background-color: #0c1445;
}


/* The Divs */

#Links-Div{
	display: flex;
	flex-wrap: wrap;
	background-color: #inherit;
	width: 70vw;
	height: 40px;
	margin-right: auto;
	margin-left: auto;
	padding: 40px;
	height: auto;
}

/* Properties Same For All */
#Main-Page-Header-Div, #Email-Header-Div{
	background-color: #bbbbbb;
	width: 320px;
	padding: 20px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 20vh;
}
#Email-Header-Div{}

/* The Headers */


/* Properties Same For All */
#H1-header,#Note-Header,#Main-Page-Header,#Email-Header{
	color: #ffffff;
	text-align: center;
	font-family: Lemonada;
}


#H1-header{
	margin-bottom: 30vh;
}

#Main-Page-Header{
	margin: auto;
}

#Email-Header{
	margin: auto;
}

/* The Links */

/* Properties Same For All */
#Main-Page-Link, #Email-Link{
	color: inherit;
}
